{% extends "base.html" %}
{% load static from staticfiles %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
{#            使用模板变量动态生成标签：从FDFS中获取静态内容 #}
{#        点击时,传递type.id#}
            {% for type in types %}
                <li><a href="{% url 'goods:list' type.id 1 %}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
{#			<li><a href="#model01" class="fruit">新鲜水果</a></li>#}
{#			<li><a href="#model02" class="seafood">海鲜水产</a></li>#}
{#			<li><a href="#model03" class="meet">猪牛羊肉</a></li>#}
{#			<li><a href="#model04" class="egg">禽类蛋品</a></li>#}
{#			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>#}
{#			<li><a href="#model06" class="ice">速冻食品</a></li>#}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {#            使用模板变量动态生成标签：从FDFS中获取静态内容 #}
                {% for pic in turn_pics %}
                <li><img src="{{ pic.image.url }}" alt="幻灯片"></li>
                {% endfor %}
{#				<li><img src="{% static 'images/slide.jpg' %}" alt="幻灯片"></li>#}
{#				<li><img src="{% static 'images/slide02.jpg' %}" alt="幻灯片"></li>#}
{#				<li><img src="{% static 'images/slide03.jpg' %}" alt="幻灯片"></li>#}
{#				<li><img src="{% static 'images/slide04.jpg' %}" alt="幻灯片"></li>#}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {#            使用模板变量动态生成标签：从FDFS中获取静态内容 #}
            {% for good in sale_goods %}
                <a href="#"><img src="{{ good.image.url }}"></a>
            {% endfor %}
{#			<a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>#}
{#			<a href="#"><img src="{% static 'images/adv02.jpg' %}"></a>#}
		</div>
	</div>

{#    商品分类详细信息  信息分为文字信息, 图片信息#}
{#    每个类型有自己的图片,类型下的商品也有自己的图片#}
    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>

                {% for banner in type.title_banner %}
                    <a href="#">{{ banner.sku.name }}</a>
                {% endfor %}
{#				<a href="#">鲜芒</a>#}
{#				<a href="#">加州提子</a>#}
{#				<a href="#">亚马逊牛油果</a>#}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image.url }}"></div>
			<ul class="goods_list fl">
                {% for banner in type.image_banner %}
				<li>
					<h4><a href="{% url 'goods:detail' banner.sku.id %}">{{ banner.sku.name }}</a></h4>
					<a href="{% url 'goods:detail' banner.sku.id %}"><img src="{{ banner.sku.image.url }}"></a>
					<div class="prize">¥ {{ banner.sku.price }}</div>
				</li>
                    {% endfor %}

{#				<li>#}
{#					<h4><a href="#">葡萄</a></h4>#}
{#					<a href="#"><img src="{% static 'images/goods/goods002.jpg' %}"></a>#}
{#					<div class="prize">¥ 5.50</div>#}
{#				</li>#}
{#				<li>#}
{#					<h4><a href="#">柠檬</a></h4>#}
{#					<a href="#"><img src="{% static 'images/goods/goods001.jpg' %}"></a>#}
{#					<div class="prize">¥ 3.90</div>#}
{#				</li>#}
{#				<li>#}
{#					<h4><a href="#">奇异果</a></h4>#}
{#					<a href="#"><img src="{% static 'images/goods/goods012.jpg' %}"></a>#}
{#					<div class="prize">¥ 25.80</div>#}
{#				</li>#}
			</ul>
		</div>
	</div>
{% endfor %}

{% endblock body %}
{% block bottom %}
	<script type="text/javascript" src="{% static 'js/slideshow.js' %}"></script>
{% endblock bottom %}
{% block bottomfiles %}
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = '../backup/list.html';
		}
	</script>
{% endblock bottomfiles %}